@font-face {
	font-family: "TerminusOS";
	src: url("Terminus_OneShot.ttf") format('truetype');
}

body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: "TerminusOS";
}

#cd {
	width: 384px;
	height: 82px;
	position: relative;
	top: -322px;
	margin: 0 auto auto;
}

#eqbg {
    width: 768px;
	display: block;
    margin: auto;
}

#locked {
	width: 128px;
	height: 96px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	display: block;
	top: -306px;
}

#text {
	position: relative;
	top: -100px;
}
