@font-face {
    font-family: "Basic Title";
    src: url('basictitlefont.woff2') format('woff2'),
    	 url('basictitlefont.woff') format('woff'),
    	 url('basictitlefont.eot') format('eot'),
    	 url('basictitlefont.ttf') format('truetype');
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #808080;
}

::-webkit-scrollbar-track {
	background-color: #404040;
}

a {
	text-decoration: none;
}

body {
	margin: 0 0 0 0;
	background-color: #262626;
	color: white;
}

li {
	float: left;
	height: 50px;
}

td {
	padding: 0 5px 0 5px;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0 0 0 0;
	float: left;
	width: 100%;
}

#contentbox {
	background-color: #4d4d4d;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 80px 20px 50px 20px;
}

#cookie {
	text-align: center;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#cookiediv {
	width: 150px; 
	height: 50px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 20px; 
	margin-top: 20px; 
	vertical-align: middle;
	border: 3px solid white;
	background-color: #262626;
	color: #ffffff;
	transition: color 0.5s, border 0.5s, background-color 0.5s;
}

#cookiediv:hover {
	border: 3px solid #262626;
	background-color: #ffffff;
	color: #262626;
}

#cookietxt {
	font: 32px "Basic Title", Arial, sans-serif;
	cursor: default;
}

#secret {
	-webkit-transition: text-shadow 1s;
	transition: text-shadow 1s;
	color: #66d9ef;
}

.title {
	font: 65px "Basic Title", Arial, sans-serif;
	cursor: default;
	padding-top: 10px;
}

.nav {
	font: 32px "Basic Title", Arial, sans-serif;
	cursor: pointer;
	color: #808080;
}

.navbar {
	padding: 0px 1% 0px 1%;
	background-color: #262626;
	height: 75px;
	width: 98%;
	text-align: center;
	vertical-align: middle;
	position: fixed;
}

.navbarlink {
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
	background-color: #262626;
	transition: color 0.25s, background-color 0.25s;
}

.navbarlink:hover {
	color: #262626;
	background-color: #ffffff;
}

.navbarlink:active {
	color: #ffffff;
	background-color: #0d0d0d;
}

.active {
	color: #ffffff;
	background-color: #0d0d0d;
}